{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Créer un compte</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(registrationForm, {'attr': {'data-turbo': 'false'}}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.plainPassword) }}
            <button class="btn btn-primary mt-3">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}