{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouvel article</h1>

        {# Affichage global des erreurs du formulaire #}
        {% if form.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {# Inclusion du formulaire #}
        {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.artiste) }}
            {{ form_row(form.datePublication) }}
            {{ form_row(form.contenu) }}

            <button class="btn btn-success mt-3">Publier</button>
        {{ form_end(form) }}

        <a href="{{ path('app_article_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}